body{
    background: #000000cf;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .content{
        background-color: black;
        height: 400px;
        width: 630px;
        position: relative;
        .rnaDev{
            color: white;
            text-align: center;
            font-size: 14px;
            font-family: monospace;
        }
        .laby{
            background-color: rgba(255, 255, 0, 0.856);
            position: absolute;
            height: 30px;
        }
        .laby-1{
            top: 75px;
            width: 200px;
        }
        .laby-2{
            top: 75px;
            left: 200px;
            width: 30px;
            height: 300px;
        }
        .laby-3{
            top: 345px;
            left: 230px;
            width: 400px;
            height: 30px;
        }
    }
    .emoji{
        position: absolute;
        top: 77px;
        animation: mietsika 5s ease-in-out 2s forwards;
    }
    .emoji:hover{
        animation-play-state: paused;
    }
}
@keyframes mietsika {
    30%{
        transform: translateX(200px);
    }
    60%{
        transform: translateX(200px) translateY(275px) rotate(90deg);
    }
    100%{
        transform: translateX(630px) translateY(275px);
    }
}